{% extends "::base.html.twig" %}

{% block body %}
    <section class="tabsContentContainer">
        <!--Tabs------>
        <div class="container">
            {% include "UserBundle:ChangePassword:changePassword_content.html.twig" %}
        </div>
	</section>	
{% endblock body %}
