{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block body %}
    <section class="successMsg">
        <div class="container">
            <div class="successMsgCon">
                <i class="fa fa-check-circle"></i>
                <h3>{{ 'resetting.check_email'|trans({'%email%': email}) }}</h3>
            </div>
        </div>
    </section>   
{% endblock body %}

